TELEPORT_VERSION=17.7.0
TELEPORT_CLUSTER_NAME=teleport-lab.local

# Static PoC join token. Rotate this for every real environment.
TELEPORT_JOIN_TOKEN=local-lab-join-token-change-me

PROXY_A_WEB_PORT=3080
PROXY_A_SSH_PORT=3023
PROXY_A_TUNNEL_PORT=3024

PROXY_B_WEB_PORT=3180
PROXY_B_SSH_PORT=3123
PROXY_B_TUNNEL_PORT=3124

OPENBAO_PORT=8200
